/**
* My CSS
*/

/** Set default font to Varela Round */
@font-face {
    font-family: 'Varela Round';
    src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
}

body {
    font-family: 'Varela Round', sans-serif;
}

textarea {
    resize: none;
    max-width: 150px;
    width: 150px;
    min-width: 150px;
    font-family: Courier;
}

input {
    font-family: Courier;
}

/** fix font */
.terminal {
    font-family: Courier;
    overflow: auto;
}

.label {
    font-family: Courier;
    color: cornflowerblue;
}

/** mouse over a link make it orange */
a:hover {
    color: orange;
}

/** default link color is purple */
a {
    color: purple;
}

/** disable hyperlinks with this class */
.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: grey;
}



footer {
    background-color: darkgrey;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
}