/**
* My CSS
*/

/** Set default font to Varela Round */
@font-face {
    font-family: 'Varela Round';
    src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
}

body {
    font-family: 'Varela Round', sans-serif;
}